$contentBackground: #fff;
$header-image: url(../img/m-h-day.jpg);
$footer-section-Bakground: #21232e;
$title-color: #000;
$selection-color: #14a0c7;
$baner-gradient: linear-gradient(to right, #649410, #2d5bd5);
$button_background: #699900;
$baner_title: #2c2f3a;