$contentBackground: #21232e;
$header-image: url(../img/m-h-night.jpg);
$footer-section-Bakground: #3b3f50;
$title-color: #fff;
$selection-color: #ff4e33;
$baner-gradient: linear-gradient(to right, #dea406, #932e51);
$button_background: #e3ac00;
$baner_title: #fff;